<template name="navbarHeader">
    <nav id="navBarHeader" class="navbar navbar-fixed-top bs-docs-nav">
            <a id="navBarTitle" class="clickable unselectable navbar-brand">Pentasyllabic Crowdsourcing</a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="horizontal inline pull-right">
                    <li>{{loginButtons}}</li>
                </ul>
            </div>
    </nav>
</template>

<template name="navbarFooter">
    <footer>
        <div id="navBarFooter" class="navbar navbar-fixed-bottom bs-docs-nav">
        </div>
    </footer>
</template>










